<body class="bg-img"> 
    <div class="aboutus-section"  >
         <div class="container">
               
                    
                    <h3  class="header">ABOUT US</h3>
                            <p class="aboutus-text">Agriculture is the backbone of India, saying this, many of the agriculturists
                                face so many problems in the agriculture that includes improper value for the
                                products they produce and there are no proper discussion platforms where they
                                could discuss or clarify their doubts regarding the agriculture.</p>
                            <p class="aboutus-text">Thus here a new
                                method is tried to find a solution to make the farmers to sell their products and
                                also to discuss the issues. An auction website with all the other kinds of features
                                such as a chat room and discussion forum would satisfy the farmer needs</p>
                  
                 
                                        <p class="aboutus-text">The project is completely related to the farmers and the customers. It would
                                            benefit both of them equally. Farmers will get the complete price of their hard
                                            work. Customers need to pay only the price of the product and not the
                                            intermediate charges which are applied due to the involvement of the
                                            middlemen</p>
                            
                         
                                        <p class="aboutus-text">This application completely eliminates middlemen hence it’s a
                                            direct communication platform between the farmers and the customers.</p>
                               
                            
                                        <p class="aboutus-text">This web application not only provides the highest price for the farmers
                                            but also it possess many additional features which serve the application as the
                                            most easy, reliable and user friendly application which would in-turn help the
                                            users who are new to this computer era. </p>
                                    </div>
                                </div>
                       
        
        </body>