body {
    font-family: 'Roboto';font-size: 16px;
    align-content: center;
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color:white;
}
.h3{
    text-align: center;
   }
   .header{
      
    text-align: center;
    color: #fff;
    font-size: 50px;

   
}
.aboutus-title::after {
    background: #9b59b6 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
    font-size:50p
}
.aboutus-text {
    color:#E1D9D1;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 35px;
    font-family: Georgia, serif;
    
    

}

a:hover, a:active {
    color: #9b59b6;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #9b59b6;
    border-radius: 25px;
    color: #9b59b6;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #9b59b6 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: white;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: white;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: white;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color :#9b59b6;
    padding:0px;
    font-size:40px;
    border: 1px solid #9b59b6;
    border-radius: 100px;
    color: #9b59b6;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

a{
text-decoration: none;
display: inline-block;
padding: 8px 16px;
}

a:hover {
background-color: #ddd;
color: black;
}

.previous {
background-color: #f1f1f1;
color: black;
}

.next {
background-color: #04AA6D;
color: white;
}

.round {
border-radius: 50%;
}
      
.bg-img {
       
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('https://i.postimg.cc/5th1YYtv/istockphoto-965148388-170667a.jpg') ;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover
        }