

<body  class="bg-img">   
 

<br> 
  <h1>Admin Dashboard</h1>
  <div class="container">
      <div class="box">
        <a routerLink="/adminmarketplace" routerLinkActive="active"><h3>BID <br> APPROVAL</h3></a>
      </div>
      <div class="box">
        <a routerLink="/admininsurance" routerLinkActive="active"><h3>CLAIM<br>SECTION </h3></a>
      </div>

     <!--  <div class="box">
        <a routerLink="/adminclaim" routerLinkActive="active"><h3>CLAIM<br>FORM APPROVAL</h3></a>
      </div> -->
      
    </div>
    <br>


</body>