<body  style="background-color:powderblue;">
  <div style="font-size: 16px;">
    <h2  style="color: aliceblue;">History of crop sold by farmer</h2>
    <div class="container" >
       <table class="table table-info mt-5 table-striped" style="font-size: small;">
        <thead>
          <tr>
                 <!-- <th>Date</th> -->
                <th>Crop Name</th>
                <th>Price</th>
                <th>bidderemail </th>
               
                <th>CropType<br></th>
                <th>Quantity<br>(in kg)</th>
               
               
          </tr>
        </thead>
            
          <tbody>
            <tr *ngFor="let product of sellcrops1">
              <!-- <td>{{product.requestId}}</td> -->
              <td>{{product.cropname}}</td>
              <td>{{product.price}}</td>
              <td>{{product.bidderemail}}</td>
              <td>{{product.croptype}}</td> 
              <td>{{product.quantity}}</td>
             
              
                <!-- <td><button class="btn login_btn" [routerLink]="['/bidcrop/',(product.requestId)]">Bid</button></td>
                <td></td> -->
                
         </tr>
        </tbody>
       <!-- <tr *ngFor="let item of getSoldHistoryObject">
                <td><b>{{item.dateOfSale}}</b></td>
                <td>{{item.cropName}}</td>
                <td>{{item.cropId}}</td>
                <td>{{item.uniqueId}}</td>
                <td>{{item.msp}}</td>
                <td>{{item.soldPrice}}</td>
                <td>{{item.quantity}}</td> 
            </tr> -->
           
        
      </table>
      
    </div>
    
    </div>
    
</body>